:root {
  --color-black-main: #212121;
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #2196f3;
  --color-gray: #757575;
  --color-background: #e5e5e5;
  --color-background-footer: #2f303a;
  --color-button-off: #f5f4fa;
}

body,
body ul {
  background-color: var(--color-background);
  font-family: "Roboto", sans-serif;
  color: var(--color-black-main);
  text-decoration: none;
  font-style: normal;
  list-style-type: none;
}

.nav-header,
.nav-header a,
.nav-header ul {
  text-decoration: none;
  font-style: normal;
  background-color: var(--color-white);
}

.main-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  background-color: var(--color-background-footer);
}

.main-header h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-transform: uppercase;
  color: var(--color-white);
}

.second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.third-header {
  font-weight: 700;
}

.main-footer {
  font-size: 14px;
  line-height: 1.71;
  background-color: var(--color-background-footer);
  color: var(--color-white);
}

.address-line,
.address-line ul {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  opacity: 100%;
  color: var(--color-white);
}

.buttons {
  background-color: var(--color-button-off);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  cursor: pointer;
  color: var(--color-black-main);
}

.buttons:hover,
.buttons:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: var(--color-blue);
}

.header-contacts {
  color: var(--color-gray);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--color-blue);
}

.footee,
.footee ul {
  background-color: var(--color-background-footer);
}

.footer-contacts {
  text-decoration: none;
  font-style: normal;
  color: var(--color-white);
  opacity: 60%;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--color-blue);
}
.menu-nav {
  font-style: normal;
  color: var(--color-black-main);
}

.menu-nav:hover,
.menu-nav:focus {
  color: var(--color-blue);
}

.menu-nav-selected {
  font-style: normal;
  color: var(--color-blue);
}

/* .our-strengths h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
} */

.our-strengths {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* .our-strengths h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
} */

.our-strengths p {
  /* font-size: 14px; */
  line-height: 1.71;
  color: var(--color-gray);
  text-transform: none;
}

.team-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* .team-content h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
} */

/* .team-content h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
} */

.team-content p {
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-gray);
}

.team-content ul {
  list-style: none;
}

.portfolio-content {
  /* font-weight: 700; */
  font-size: 18px;
  line-height: 2;
}

/* .portfolio-content h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
} */

.portfolio-content p {
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-gray);
}

.black-font {
  color: var(--color-black);
}

.white-font {
  color: var(--color-white);
}
